---
import Terminal from '../components/Terminal.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Web Terminal</title>
  </head>
  <body class="bg-gray-100 min-h-screen p-8">
    <main class="container mx-auto">
      <h1 class="text-3xl font-bold text-center mb-8">Web Terminal</h1>
      <Terminal title="guest@web-terminal" />
    </main>
  </body>
</html>